aiohttp
fastapi
httpx[http2]
psutil
python-dotenv
surrealdb>=1.0.8
temporalio
uvicorn

# static bbot version to avoid breaking changes
# bbot==2.8.4
# bbot @ git+https://github.com/ciso360ai/bbot
bbot @ git+https://github.com/blacklanternsecurity/bbot@35342055bfbb647a4a071b8833d836eb41a2de30 #dev@2026-04-24
