aiohttp
argon2-cffi
bcrypt
fastapi
httpx[http2]
jsonpath-ng
passlib[bcrypt]
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-jose
python-multipart
reportlab
stripe
surrealdb
temporalio
uvicorn
