name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  schedule:
    - cron: '0 0 * * 5'
  push:
    # branches: [ "main" ]
    # Publish semver tags as releases.
    tags:
      - 'v*'
  # pull_request:
  #   branches: [ "main" ]

env:
  REGISTRY: ghcr.io

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      matrix:
        include:
          - image: ghcr.io/ciso360ai/backend-base
            dockerfile: backend-base/Dockerfile
            context: backend-base/.
            platforms: linux/amd64,linux/arm64
          - image: ghcr.io/ciso360ai/bbot
            dockerfile: bbot/Dockerfile
            context: bbot/.
            platforms: linux/amd64 # no arm64 build for bbot worker due to extractous issues
          - image: ghcr.io/ciso360ai/temporal-server
            dockerfile: temporal-server/Dockerfile
            context: temporal-server/.
            platforms: linux/amd64,linux/arm64
          - image: ghcr.io/ciso360ai/temporal-ui
            dockerfile: temporal-ui/Dockerfile
            context: temporal-ui/.
            platforms: linux/amd64,linux/arm64
          - image: ghcr.io/ciso360ai/zitadel
            dockerfile: zitadel/Dockerfile
            context: zitadel/.
            platforms: linux/amd64,linux/arm64
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Log to registry ${{ env.REGISTRY }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          # images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          images: ${{ matrix.image }}
          tags: |
              type=semver,pattern={{version}}
              type=schedule,pattern={{date 'YYYYMMDD'}}
              type=raw,value=latest

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          platforms: ${{ matrix.platforms }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
